backend/node_modules
frontend/node_modules
frontend/build
frontend/.env
frontend/env.d.ts
backend/src/infrastructure/db/pool.js
backend/.env
backend/seed.js
backend/tests/
.vscode/
docker-compose.yml
.DS_Store
backend/# Ejecutar TODOS los tests (unit + integ.sh
backend/Dockerfile
backend/schema.sql