name: Deploy Ecommerce to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy with SSH
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          script: |
            # 1. Detener la aplicación si está corriendo
            echo "Deteniendo la aplicación..."
            sudo -u deployuser /home/deployuser/.nvm/versions/node/v22.17.0/bin/pm2 stop ecommerce-backend || true

            # 2. Navegar al directorio de la aplicación y actualizar código
            echo "Actualizando código..."
            sudo -u deployuser git -C /home/deployuser/ecommercejs fetch --all
            sudo -u deployuser git -C /home/deployuser/ecommercejs pull

            # 3. Instalar dependencias del backend y frontend
            echo "Instalando dependencias..."
            sudo -u deployuser /home/deployuser/.nvm/versions/node/v22.17.0/bin/npm install --prefix /home/deployuser/ecommercejs/backend
            sudo -u deployuser /home/deployuser/.nvm/versions/node/v22.17.0/bin/npm install --prefix /home/deployuser/ecommercejs/frontend

            # 4. Build del frontend
            echo "Construyendo frontend..."
            sudo -u deployuser bash -c "cd /home/deployuser/ecommercejs/frontend && /home/deployuser/.nvm/versions/node/v22.17.0/bin/npm run build"

            # 5. Reiniciar Nginx
            echo "Reiniciando Nginx..."
            sudo nginx -t
            sudo systemctl restart nginx


            # 6. Iniciar la aplicación de nuevo
            echo "Iniciando la aplicación..."
            sudo -u deployuser /home/deployuser/.nvm/versions/node/v22.17.0/bin/pm2 start /home/deployuser/ecommercejs/backend/server.js --name "ecommerce-backend"

            echo "✅ Despliegue completado."
